[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/wjakob/nanobind.git
